{% extends 'base.html.twig' %}

{% block title %}Ville index{% endblock %}

{% block body %}
    <h1>Ville index</h1>
    {% for ville in villes %}
        {{ ville.codePostal }}
        {{ ville.nom }}
    {% endfor %}

{% endblock %}
